

.Navbar {
  width: 100%;
  height: 50px;
  flex: 3;
}

.logo {
  font-size: 30px;
  margin-left: 20px;
  font-weight: bold;
  font-family: serif;
  
}

.searchbar {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
}

.searchInput {
  border: none;
  width: 70%;
}

.searchInput:focus {
  outline: none;
}


.NavbarImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-left: 10px ;
}

.nav-link {
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 15px;
    color: purple;
    font-family: serif;
    }

   body {
    background-color:lightseagreen ;
   }

   h1 {
    text-align: justify;
       }

   h3 {
    text-align: center;
   }    

   p {
    text-align: center;
   }