.NavbarContainer {
    height: 65px;
    width: 100%;
    background-color: #9f769d;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
  }
  
  .NavbarLeft {
    flex: 3;
  }
  
  .logo {
    font-size: 35px;
    margin-left: 20px;
    font-weight: bold;
    color:purple;
    cursor: pointer;
  
  }
  
  .NavbarCenter {
    flex: 5;
  }

  .searchbar {
    width: 65%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon {
    font-size: 20px !important;
    margin-left: 10px ;
}

.searchInput {
  border: none;
  width: 70%;
}

.searchInput:focus {
  outline: none;
}


.NavbarImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-left: 10px ;
}

.nav-link {
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 15px;
    color: purple;
  
    }

    body {
      background-color:  #dfd3d5;
    }

    h1 {
      text-align: center;
    }

    h3 {
      text-align: center;
    }

    p {
      text-align: center;
    }

    

    