.NavbarContainer {
  height: 50px;
  width: 100%;
  background-color: purple;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

.NavbarLeft {
  flex: 3;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: violet;
  cursor: pointer;

}

.NavbarCenter {
  flex: 5;
}